@model IEnumerable<BackEndMeutreino.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a class="btn btn-primary" role="button" asp-controller="Usuarios" asp-action="Create">Adicionar novo contato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.peso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peso)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-outline-primary" role="button" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                        <a class="btn btn-outline-secondary" role="button" asp-action="Details" asp-route-id="@item.id">Details</a>
                        <a class="btn btn-outline-danger" role="button" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
