@model IEnumerable<BackEndMeutreino.Models.Exercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercícios</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar novo Exercício</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th style="padding-right: 100px;">
                Grupo Muscular
            </th>
            <th>
               Dificuldade
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.imagem)
                </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.nome)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.grupoMuscular)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.dificuldade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
