@model IEnumerable<BackEndMeutreino.Models.Exercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercicios</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Criar novo exercicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grupoMuscular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dificuldade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grupoMuscular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dificuldade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
